<div class="container">
  <h1 class="h1-guide">Trip Details</h1>

  <p><%= @traveler.first_name + " " + @traveler.last_name %></p>

  <p><b>Guide: </b><%= link_to @guide.first_name + " " + @guide.last_name, guide_path(@guide) %>
  <p><b>Location: </b><%= @trip.location %></p>
  <p><b>Start Date: </b><%= @trip.start_date %></p>
  <p><b>End Date: </b><%= @trip.end_date %></p>

  <h3>Interests</h3>
  <% if @trip.interests %>
    <% @trip.interests.split(", ").each do |interest| %>
      <p><%= interest %></p>
    <% end %>
  <% else %>
    <p>No interests were selected</p>
  <% end %>
</div>