<!-- <div id="traveler" class="signup-form">
    <h1>Create Guide Account</h1>
-->
<div>
    <div class="checkout-signup-atts">

        <%= form_for :traveler, url: '/travelers' do |f| %>

        <div class="signup-group">First name: <%= f.text_field :first_name, class: "buu"%></div><br>
        <div class="signup-group">Last name: <%= f.text_field :last_name, class: "buu" %></div><br>
        <div class="signup-group">Email: <%= f.text_field :email, class: "buu" %></div><br>
        <label class="signup-group">Language:</label>
        <select class="form-language buu form-padding" name='language' required>
            <option value="" default selected>Choose a language</option>
            <% @languages = %w(English Spanish German French Italian Portuguese Japanese Korean Turkish Mandarin Cantonese) %>
            <% @languages.each do |language| %>
            <option value=<%= language %>><%= language %></option>
            <% end %>
        </select>
        <div class="signup-group">Phone: <%= f.text_field :phone, class: "buu" %></div><br>
        <div class="signup-group">Password: <%= f.password_field :password , class: "buu"%></div><br>
        <div class="signup-group">Password Confirmation: <%= f.password_field :password_confirmation , class: "buu"%><br><br>
            <%= f.submit "Submit", class: "signup-but"%>

            <% end %>
        </div>
        <span class="already_member">Already GuideMe member?</span><input id = "checkout-login-but" class="form-radius" type="submit" value="Log in">
    </div>



    <div class="checkout-login-form">
      <p class="login-via">Login via</p>
      <div class="social-buttons">
        <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
        <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
        </div>
        <h4>or</h4>
    <div class="form-group">
        <%= form_tag sessions_path do %>
        <div class="form-group"><%= text_field_tag :email,nil , placeholder: "Email address", size: "35" %><br></div>
        <div class="form-group"><%= password_field_tag :password, nil, placeholder: "Password", size: "35" %><br></div>
        <div ><a href>Forgot password?</a></div>
        <%= submit_tag "Login", class: "btn btn-primary", id: "marg" %>
        <% end %>
        <div class="checkbox">
        </div>
    </div>
    <div class="checkout-have-account">
        <span class="already_member">Don't have an account?</span><input id = "checkout-signup-but" class="form-radius" type="submit" value="Sign up">
    </div>
    </div>

</div>
