<h1>Create Account</h1>

<% if @traveler.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@traveler.errors.count, "error") %>.
    </div>
    <ul>
    <% @traveler.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for :traveler, url: '/travelers' do |f| %>

  First name: <%= f.text_field :first_name %><br>
  Last name: <%= f.text_field :last_name %><br>
  Email: <%= f.text_field :email %><br>
  Language: <%= f.text_field :language %><br>
  Phone: <%= f.text_field :phone %><br>
  Password: <%= f.password_field :password %><br>
  Password Confirmation: <%= f.password_field :password_confirmation %><br>
  <%= f.submit "Submit" %>

<% end %>
