<h1>Travelers#show</h1>
<p>Find me in app/views/travelers/show.html.erb</p>

<%= form_tag yelps_path, url: url_for(action: 'create', controller: 'yelps'), :method => 'post' do %>
<p>
  <%= text_field_tag :location, placeholder="location"%>
  <%= text_field_tag :keyword, placeholder="keywords" %>
  <%= submit_tag "Search", :name => nil %>
</p>
<% end %>

<% @trips = Trip.all.where(traveler_id: params[:id]) %>

<% @trips.each do |trip| %>
	<%= link_to trip.location,trip_path %><br>
<% end %>
