<h1>Travelers#show</h1>
<p>Find me in app/views/travelers/show.html.erb</p>

<%= form_tag yelps_path, url: url_for(action: 'create', controller: 'yelps'), :method => 'post' do %>
<p>
  <%= text_field_tag :location, placeholder="location"%>
  <%= text_field_tag :keyword, placeholder="keywords" %>
  <%= submit_tag "Search", :name => nil %>
</p>
<% end %>

<%= form_for @traveler, url: travelers_path, html: { multipart: true } do |form| %>
  <%= form.file_field :avatar %>
<% end %>



<% @trips.each do |trip| %>
	<%= link_to trip.location,trip_path(trip) %><br>
<% end %>

<% if current_user.class == Traveler %>
  <% @traveler = Traveler.find(params[:id]) %>
  <% if @traveler.id == current_user.id %>
      <div class="chatbar pull-right">
        <% if @conversations != nil %>
            <ul class="media-list">
              <% @conversations.each do |conversation| %>
                  <li class="media">
                    <div class="chatbarphoto">
                      <img src="<%= conversation_interlocutor(conversation).photo %>">
                    </div>
                    <div class="media-body">
                      <%= link_to "", conversation_path(conversation), class: "conversation", "data-cid" => conversation.id %>
                      <h4 class="media-heading"><%= conversation_interlocutor(conversation).first_name %></h4>
                        <% if conversation_interlocutor(conversation).online == "yes" %>
                          <i class='fa fa-asterisk' style="color:green"></i>
                        <% end %>
                        </div>
                  </li>

              <% end %>
            </ul>

            <% else %>
            <h2>You haven't talked to anyone yet, go talk to one of our guides!</h2>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
<% end %>
<% end %>
