<style>
  body{
  background-image: url("/assets/beach.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  }
</style>


<div class="profile-bg">
<div class="profile-container">
<div class="profile-header">
  <h1 class="traveler-h1 fran"><%= @traveler.first_name + " " + @traveler.last_name %></h1>
  <div class="profile-img">
    <% if @traveler.photo %>
      <%= image_tag(@traveler.photo) %>
    <% else %>
      <p>No Image</p>
    <% end %>
  </div>
  <div class="profile-info">
    <p><b>Email: </b><%= @traveler.email %></p>
    <p><b>Total trips: </b><%= @traveler.trips.count %></p>
    <p><b>Language: </b><%= @traveler.language %></p>
    <p><b>Phone: </b><%= @traveler.phone %></p>
  </div>
</div>

<div class="trips-header">
  <center><h2>Trips</h2></center>
</div>

<% @trips.each do |trip| %>
  <div class="trips">
    	<%= link_to trip.location, trip_path(trip) %><br>
  </div>
<% end %>

<% if current_user.class == Traveler %>
  <% @traveler = Traveler.find(current_user.id) %>
  <% if @traveler.id == current_user.id %>
      <div class="chatbar pull-right">
        <% if @conversations != nil %>
            <ul class="media-list">
              <% @conversations.each do |conversation| %>
                  <li class="media">
                    <div class="chatbarphoto">
                      <img src="<%= conversation_interlocutor(conversation).photo %>">
                    </div>
                    <div class="media-body">
                      <%= link_to "", conversation_path(conversation), class: "conversation", "data-cid" => conversation.id %>
                      <h4 class="media-heading"><%= conversation_interlocutor(conversation).first_name %></h4>
                        <% if conversation_interlocutor(conversation).online == "yes" %>
                          <i class='fa fa-asterisk' style="color:green"></i>
                        <% end %>
                        </div>
                  </li>

              <% end %>
            </ul>

            <% else %>
            <h2>You haven't talked to anyone yet, go talk to one of our guides!</h2>
        <% end %>
      </div>
<% end %>
<% end %>

</div>
</div>