<div class="saved_event">
  <img src="<%= restaurant.image_url %>" alt="edit" />
  <a href="<%=restaurant.url%>" target="_blank" class="event-name"><%= restaurant.name %></a>

  <%= link_to 'Remove', yelps_remove_path(restaurant: restaurant.name, location: @location), method: :post, id: 'remove_restaurant', class: "add-remove-but" %>
  <div class="address">
    <%= restaurant.location.display_address[0] +" "+ restaurant.location.display_address[-1]%></div>
    <a href="#"  class="click-detail">Show details</a>
    <a href="#" class="hide-detail">Hide details</a>

    <%= render partial: '/partials/saved_detail_restaurants', locals: { restaurant: restaurant} %>
</div>
