<style>
  body{
    background-image: url(<%=@pic%>);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;

  }
</style>

<div class="guide-page">

  <div class="guides-in-header">
    <h3>Guides in <%= @location %> who speak <%= @language %> </h3>
    <h4>Dates chosen: <%= @start_date %> - <%= @end_date %></h4>
    <%= link_to 'Checkout', traveler_checkout_path(session[:traveler_id], location: @location, start_date: @start_date, end_date: @end_date) %>
  </div>

  <div class="form-header">
    <form id="search_form" action="/guides" method="get">

      <input id="city" class="form-radius" type="text" name="location" placeholder= "Destination City" size="50" value="<%= @full_location %>" required>
      <label for="from">From</label>
      <input type="text" class="form-radius" id="from" name="from" value="<%= @start_date %>">
      <label for="to">to</label>
      <input type="text" class="form-radius" id="to" name="to" value="<%= @end_date %>">

       <select class="form-language" name='language' required>
        <option value="" default selected>Language</option>
        <% @languages.each do |language| %>
          <option value=<%= language %>><%= language %></option>
        <% end %>
      </select>
      <input id = "guide-search-but" class="form-radius" type="submit" value="Search">
    </form>
  </div>

  <div class="container">
    <ul class="tabs">
      <li class="tab-link current" data-tab="tab-1">Guides</li>
      <li class="tab-link" data-tab="tab-2">Attractions</li>
      <li class="tab-link" data-tab="tab-3">Restaurants</li>
      <li class="tab-link" data-tab="tab-4">Events</li>
    </ul>

    <%= render 'guides' %>
    <%= render 'attractions' %>
    <%= render 'events' %>
    <%= render 'restaurants' %>
  </div>

  <div id='map'></div>
  <div id='city'></div>

</div>

  <div class="row"></div>
