<style>
  body{
    background-image: url("/assets/guide.jpeg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;

  }
</style>

<div class="signup-form">
    <center><h1 class="h1-guide">Create Guide Account</h1></center>

    <% if @guide.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-danger">
          The form contains <%= pluralize(@guide.errors.count, "error") %>.
        </div>
        <ul>
        <% @guide.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="signup-atts">

      <%= form_for :guide, url: '/guides' do |f| %>

        <div class="signup-group">First name: <%= f.text_field :first_name, class: "buu"%></div><br>
        <div class="signup-group">Last name: <%= f.text_field :last_name, class: "buu" %></div><br>
        <div class="signup-group">Email: <%= f.text_field :email, class: "buu" %></div><br>
        <label class="signup-group">Language:</label>
        <select class="form-language buu form-padding" name='language' required>
            <option value="" default selected>Choose a language</option>
                <% @languages.each do |language| %>
            <option value=<%= language %>><%= language %></option>
            <% end %>
        </select>
        <div class="signup-group">Phone: <%= f.text_field :phone, class: "buu" %></div><br>
        <div class="signup-group">Location: <%= f.text_field :location, class: "buu" %></div><br>
        <div class="signup-group">Do you have a car? <%= f.text_field :has_car, class: "buu" %></div><br>
        <div class="signup-group">Password: <%= f.password_field :password , class: "buu"%></div><br>
        <div class="signup-group">Password Confirmation: <%= f.password_field :password_confirmation , class: "buu"%><br><br>
        <%= f.submit "Submit", class: "signup-but"%>

    <% end %>
    </div>
  </div>
