<div class="profile-bg">
<div class="profile-container">
<div class="profile-header">
  <h1 class="traveler-h1 fran"><%= @guide.first_name + " " + @guide.last_name %></h1>
  <div class="profile-img">
    <% if @guide.photo %>
      <%= image_tag(@guide.photo) %>
    <% else %>
      <p>No Image</p>
    <% end %>
  </div>
  <div class="profile-info">
    <p><b>Email: </b><%= @guide.email %></p>
    <p><b>Total trips: </b><%= @guide.trips.count %></p>
    <p><b>Language: </b><%= @guide.language %></p>
    <p><b>Phone: </b><%= @guide.phone %></p>
    <p><h3>Reviews: </h3>
        <% @guide.reviews.each do |review| %>
          <b>Reviewer: </b> <%= review.traveler.first_name %><br>
          <%= review.comment %><br>
          <b>Rating: </b> <%= review.rating %><br>
        <% end %>
    </p>
  </div>
</div>

<div class="trips-header">
  <center><h2>Trips</h2></center>
</div>
<% p current_user %>
<% p "*" * 255 %>
<% p current_user.online %>
<% if current_user %>
<% if current_user.class == Guide %>
  <% @guide = Guide.find(current_user.id) %>

  <% if @guide.id == current_user.id %>

    <%= render "partials/available_dates" %>
    <div class="chatbar pull-right">
      <% if @conversations != nil %>
        <ul class="media-list">
          <% @conversations.each do |conversation| %>
          <li class="media">
            <div class="chatbarphoto">
              <img src="<%= conversation_interlocutor(conversation).photo %>">
            </div>
            <div class="media-body">
              <%= link_to "", conversation_path(conversation), class: "conversation", "data-cid" => conversation.id %>
              <h4 class="media-heading" style=""><%= conversation_interlocutor(conversation).first_name %></h4>
              <% if conversation_interlocutor(conversation).online == "yes" %>
                <i class='fa fa-asterisk' style="color:green"></i>
              <% end %>
            </div>
          </li>

          <% end %>
        </ul>
      <% end %>
</div>
</div>
<div class="col-md-4">
</div>
</div>
  <% else %>
    <% if @guide.online == "yes" %>
      <%= link_to "Chat Now", "#", class: "btn btn-success btn-xs start-conversation",
      "data-sid" => current_user.id, "data-rip" => @guide.id %>
    <% else %>
      <%= link_to "Send A Message", new_mail_conversation_path %>
    <% end %>
<% end %>

<% else %>
  <% if @guide.online == "yes" %>
    <%= link_to "Chat Now", "#", class: "btn btn-success btn-xs start-conversation",
    "data-sid" => current_user.id, "data-rip" => @guide.id %>
  <% else %>
    <%= link_to "Send A Message", new_mail_conversation_path %>
  <% end %>
<% end %>

<% end %>

</div>
</div>
