<h1>Guides#show</h1>
<p>Find me in app/views/guides/show.html.erb</p>

<% if current_user %>
<% if current_user.class == Guide %>
  <% @guide = Guide.find(params[:id]) %>

  <% if @guide.id == current_user.id %>

    <%= render "partials/available_dates" %>
    <div class="chatbar pull-right">
      <% if @conversations != nil %>
        <ul class="media-list">
          <% @conversations.each do |conversation| %>
          <li class="media">
            <div class="chatbarphoto">
              <img src="<%= conversation_interlocutor(conversation).photo %>">
            </div>
            <div class="media-body">
              <%= link_to "", conversation_path(conversation), class: "conversation", "data-cid" => conversation.id %>
              <h4 class="media-heading" style=""><%= conversation_interlocutor(conversation).first_name %></h4>
              <% if conversation_interlocutor(conversation).online == "yes" %>
                <i class='fa fa-asterisk' style="color:green"></i>
              <% end %>
            </div>
          </li>

          <% end %>
        </ul>
      <% end %>
</div>
</div>
<div class="col-md-4">
</div>
</div>
  <% else %>
    <% if @guide.online == "yes" %>
      <%= link_to "Chat Now", "#", class: "btn btn-success btn-xs start-conversation",
      "data-sid" => current_user.id, "data-rip" => @guide.id %>
    <% else %>
      <%= link_to "Send A Message", new_mail_conversation_path %>
    <% end %>
<% end %>

<% else %>
  <% if @guide.online == "yes" %>
    <%= link_to "Chat Now", "#", class: "btn btn-success btn-xs start-conversation",
    "data-sid" => current_user.id, "data-rip" => @guide.id %>
  <% else %>
    <%= link_to "Send A Message", new_mail_conversation_path %>
  <% end %>
<% end %>

<% end %>
