<div>
  <ul class="navbar">
    <li><%= link_to 'Home', root_path %></li>
    <% if session[:guide_id] || session[:traveler_id] %>
      <li><%= link_to 'Log out', sessions_path, method: :delete, data: { confirm: 'Are you sure?'} %></li>
    <% else %>
      <li><%= link_to 'About Us', about_us_path%></li>
      <li><%= link_to 'Sign up',"#", class: "signup-link"  %>
        <%= render partial: "/layouts/signup" %></li>
      <li><%= link_to 'Login', new_sessions_path, class: "login-link" %>
        <%= render partial: "/sessions/login_form"%></li>
    <% end %>
  </ul>
</div>
