<div>
  <ul class="navbar">
    <li><%= link_to 'HOME', root_path %></li>
    <% if session[:guide_id] || session[:traveler_id] %>
      <li><%= link_to 'LOG OUT', sessions_path, method: :delete, data: { confirm: 'Are you sure?'} %></li>
    <% else %>
      <li><%= link_to 'SIGN UP',"#", class: "signup-link"  %>
        <%= render partial: "/layouts/signup" %></li>
      <li><%= link_to 'LOGIN', new_sessions_path, class: "login-link" %>
        <%= render partial: "/sessions/login_form"%></li>
      <li><%= link_to 'ABOUT US', about_us_path%></li>
    <% end %>
  </ul>

</div>
