<!DOCTYPE html>
<html>
  <head>
    <title>GuideMe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>



  </head>
<!-- Comment for push to Development.  -->
  <body>
    <%= link_to 'Home', root_path %>
    <% if session[:guide_id] || session[:traveler_id] %>
      <%= link_to 'Log out', sessions_path, method: :delete, data: { confirm: 'Are you sure?'} %>
    <% else %>
    <% end %>
    <%= yield %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['google_api']%>&libraries=places&callback=initMap"
    async defer></script>
  </body>
</html>

