<!DOCTYPE html>
<html>
  <head>
    <title>GuideMe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<!-- Comment for push to Development.  -->
  <body>
    <% if session[:guide_id] || session[:traveler_id] %>
      <%= link_to 'Log out', sessions_path, method: :delete, data: { confirm: 'Are you sure?'} %>
    <% end %>
    <%= yield %>
  </body>
</html>
